/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:wght@300;400;700;900&display=swap');

/* Style variables */
:root {
    --main-color: #5D9D4D;
    --black: #333;
    --white: #FFF;
    --header-color: #FF7417;
    --light-color: #7EBA62;
    --sign-color: #30B3E9;
    --border: .2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

/* Page style reset */
* {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

/* User highlight style */
*::selection {
    background-color: var(--light-color);
    color: var(--white);
}

/* Scrollbar style */
::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* HTML class style */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

/* Section class style */
section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Heading class style */
.heading {
    text-align: center;
    margin-bottom: 3rem;
}
.heading h3 {
    font-size: 3.5rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
}

/*  Button class style */
.btn {
    display: inline-block;
    margin: 0.75rem;
    background-color: var(--light-color);
    border-radius: 0.75rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--black);
    transform: scale(1.05);
    transition: 0.3s;
}

/* PHP Message style */
.message {
    background-color: var(--light-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.message span {
    color: var(--white);
    font-size: 2rem;
}
.message i {
    color: var(--black);
}
.message i:hover {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

/* Header section style  */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
    cursor: pointer;
}
.header .flex h3 {
    font-size: 4rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
}
.header .flex .logo img {
    height: 4.5rem;
}

/* Navbar section style */
.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    text-decoration: underline;
    color: var(--main-color);
}
#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
}

/* Home content style */
.home-bg {
    background: linear-gradient(90deg, var(--black), transparent 70%), url(../assets/img/cafe1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home {
    min-height: 97rem;
    display: flex;
    align-items: center;
}
.home-bg .home .content {
    width: 50rem;
    text-align: center;
}
.home-bg .home .content h3 {
    font-size: 6rem;
    color:var(--header-color);
    font-family: 'Great Vibes', cursive;
}
.home-bg .home .content p {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--white);
    line-height: 2;
}

/* About Us content style */
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.about .image {
    flex: 1 1 40rem;
}
.about .image img {
    width: 100%;
}
.about .content {
    flex: 1 1 40rem;
}
.about .content h3 {
    font-size: 4.5rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
    padding-bottom: 1rem;
}
.about .content p {
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
}
.about .content .about-btn {
    text-align: center;
}
/* About Us - News content style */
.news {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.news .image {
    flex: 1 1 40rem;
}
.news .image img {
    width: 100%;
}
.news .content {
    flex: 1 1 40rem;
}
.news .content h3 {
    text-align: center;
    font-size: 4rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
    padding-bottom: 1rem;
}
.news .content p {
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
}
.news .content p span {
    font-size: 2rem;
    color: var(--light-color);
}
/* About Us - Video content style */
.events {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.events .video {
    flex: 1 1 40rem;
}
.events .image iframe {
    width: 100%;
}
.events .content {
    flex: 1 1 40rem;
}
.events .content h3 {
    text-align: center;
    font-size: 4rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
    padding-bottom: 1rem;
}
.events .content p {
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
}
.events .content p span {
    font-size: 2rem;
    color: var(--light-color);
}

/* Our Cafe content style */
.cafe .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.cafe .box-container .box {
    text-align: center;
}
.cafe .box-container .box img {
    height: 10rem;
    margin-bottom: 0.5rem;
}
.cafe .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
}
.cafe .box-container .box p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--black);
}
/* Our Cafe - Gallery content style */
.cafe .gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.cafe .gallery .box-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: solid 0.25rem var(--light-color);
}
/* Our Cafe - Location section */
.location {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.location .map {
    flex: 1 1 40rem;
}
.location .map iframe {
    border: none;
    border-radius: 0.75rem;
    width: 100%;
}
.location .content {
    flex: 1 1 40rem;
}
.location .content h3 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
    padding-bottom: 1rem;
}
.location .content p {
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
}

/* Menu content style */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}
.menu .box-container .box {
    text-align: center;
}
.menu .box-container .box img {
    width: 100%;
    margin-bottom: 1rem;
    border: solid 0.25rem var(--light-color);
}
.menu .box-container .box h3 {
    font-size: 2rem;
    color: var(--black); 
}
.menu p {
    text-align: center;
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.menu .menu-btn {
    text-align: center;
}

/* Our Team content style */
.team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 3rem;
}
.team .box-container .box {
    text-align: center;
}
.team .box-container .box img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: solid 0.25rem var(--light-color);
}
.team .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
} 
.team .apply {
    text-align: center;
}
.team .apply p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 1.5rem;
}

/* Reservations content style */
.book .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.book .row .image {
    flex: 1 1 50rem;
}
.book .row .image img {
    width: 100%;
}
.book .row form {
    flex: 1 1 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
}
.book .row form h3 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--header-color);
    font-family: 'Great Vibes', cursive;
}
.book .row form .box {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--light-color);
    border: var(--border);
    margin: 1rem 0;
}
.book .content p {
    line-height: 2;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--black);
}
.book .content .contact-btn {
    text-align: center;
}

/* Footer content style   */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.footer .box-container .box {
    text-align: center;
}
.footer .box-container .box i {
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 2rem;
    background-color: var(--light-color);
    color: var(--white);
}
.footer .box-container .box h3 {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    color: var(--black);
}

.footer .box-container .box p {
    font-size: 1.2rem;
    color: var(--black);
}
.footer .credit {
    text-align: right;
    margin: 1rem;
    padding-top: 1rem;
    border-top: var(--border);
    font-size: 1.25rem;
    color: var(--black);
}
.footer .credit span {
    color: var(--sign-color);
}



/* Media queries */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        transition: 0.2s linear;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.2s linear;
    }
    .header .flex .navbar.active  {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
    .home-bg {
        background-position: left;
    }
    .home-bg .home {
        justify-content: center;
    }
    .home-bg .home .content h3 {
        font-size: 5rem;
    }
    .about .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .heading h3 {
        font-size: 4rem;
    }
}